# venv & caches
venv/
__pycache__/
*.pyc

# logs / artefacts
logs/
*.log
*.err
*.out

# secrets
*.env
.env
/etc/scalp.env

# outils locaux
.ngrok*
ngrok.*__pycache__/


*.map
/dump_full.txt
/tools/dump_full.txt
/dump_full.txt
/tools/dump_full.txt
